:root {
    --background-color: rgb(253, 251, 250);
    --secondary-color: rgb(255, 255, 255);
    --line-color: rgb(79, 78, 78);
    --text-color: rgb(45, 45, 45);
    --marieke-color: rgb(99, 24, 131);
    --robin-color: rgb(36, 36, 177);
    --error-color: rgb(141, 8, 8);
    --box-border-color: #8f8f9d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: var(--text-color)
}

@media screen and (min-width: 1000px) {
    body {
        transform: scale(1.4);
        transform-origin: top center;
    }
}

@media screen and (max-width: 1000px) {
    body {
        transform: scale(1.0);
        margin: 0;
    }
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.page {
    width: 410px;
    height: 890px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.counter-container {
    border: 2px solid var(--line-color);
    border-radius: 20px;
    width: 100%;
    max-width: 200px;
    height: 180px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apple-count {
    width: 120px;
    height: 120px;
    border: 2px solid var(--line-color);
    border-radius: 15px;
    font-size: 90px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apple-count.error {
    color: var(--error-color);
}

.substract-container {
    gap: 8px;
    flex-direction: row;
}

.substract-number {
    width: 80px;
    height: 30px;
    border: 1.5px solid var(--line-color);
    border-radius: 5px;
    text-align: center;
    margin: 0 10px 10px 10px;
}

/* For Chrome, Safari, Edge, Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no-arrows {
  -moz-appearance: textfield;
}

.plus-btn, .minus-btn {
    height: 30px;
    width: 30px;
}



/* Profile buttons */
.week-control {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 0px 0px 10px 0px;
}

.profile-btn {
    width: 135px;
    height: 30px;
    border: 2px solid var(--line-color);
    background-color: var(--background-color);
}

.profile-btn.active{
    background-color: var(--secondary-color);
    border: 2px solid var(--box-border-color);
}


.clear-week-btn {
    height: 30px;
    width: 90px;
    border: 2px solid var(--line-color);
}

.active {
    background-color: var(--secondary-color);
    border: 2px solid var(--box-border-color);
}


/* Button styles */
button {
    cursor: pointer;
    border-radius: 5px;
    border: 1.5px solid var(--line-color);
    background-color: var(--secondary-color);
}

/* Day styles */
.days-container{
    display: flex; 
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.days-container:last-of-type {
    margin-bottom: 0;
}

.day {
    border: 2px solid var(--line-color);
    border-radius: 10px;
    width: calc(50% - 4px);
    height: 120px;
    padding: 0px 3px;
    gap: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.day-side {
    font-size: 14px;
    width: 48px;
    height: 100%;
    gap: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1.5px solid var(--line-color);
    padding: 0px 2px;
    white-space: nowrap;
}

.day-side button{
    width: 40px;
    height: 20px;
    text-align: center;
    font-size: 10px;
}

.checkboxes{
    flex: 1;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 10px 0px 5px 0px;
}

/* Label and button inside day */
.checkboxes label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    gap: 3px;
}

/* Input styles for checkboxes */
.day input {
    width: 25px;
    height: 25px;
}

/* Specific color overrides */
.marieke {
    accent-color: var(--marieke-color);
}

.robin {
    accent-color: var(--robin-color);
}

