/* Media Queries for responsiveness */
@media screen and (min-width: 1000px) {
    main {
        transform: scale(1.3);
        transform-origin: top center;
    }

    .counter-container {
        width: 200px;
        height: 160px;
    }

    .apple-count {
        font-size: 90px;
    }

    .substract-number {
        width: 115px;
    }
}

@media screen and (max-width: 1000px) {
    main {
        transform: scale(1.0);
        margin: 0;
    }

    .counter-container {
        width: 170px;
        height: 130px;
    }

    .apple-count {
        width: 100px;
        height: 90px;
        font-size: 60px;
    }

    .substract-number {
        width: 90px;
    }
}

/* Error styles */
.counter-container .error {
    color: var(--error-color);
}